<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>

<body>
    <h1>Listado de Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Categoría: {{category}}</p>
        </li>
        {{/each}}
    </ul>
</body>

</html>